.selected {
	background-color: whitesmoke;
	transform: scale(1.1);
	z-index: 10;
	position: relative;
}

.github-users {
	padding: 10px 30px;
}

.github-users li {
	display: flex;
	align-items: center;
	border: 1px solid grey;
	margin-bottom: 5px;
	padding: 20px;
	transition: .35s;
}

.github-users li img {
	width: 40px;
	height: 40px;
	object-fit: cover;
}

.github-users li p {
	padding: 0 0 0 10px;
	margin: 0;
	border: 0;
	font-size: 20px;
	font-weight: bold;
}

