.app {
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  font-family: sans-serif;
}

.app img {
  width: 100%;
  max-width: 500px;
}

.app h1 {
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
}

.app p {
  padding: 20px;
  border: 1px solid #999;
  margin: 40px;
}

.credit {
  margin-top: 50px;
  font-size: 12px;
}

.credit a,
.credit a:visited {
  color: black;
}